$header-color: #ffffff;
$top-header: rgba(48, 46, 46, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
$header-font: #808080;
$bot-right: #cecbcb;
$pad: 5px;
$font-style: Arial, Helvetica, sans-serif;

body{
    background-color: rgb(18, 18, 97);
    font-family: $font-style;
}

.page{
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 20px;
    background-color: whitesmoke;
}

.top{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-image: url(./Images/custom-jessica-lewis-creative-583848.jpg);
    background-repeat: no-repeat;
    padding-right: 100px;
}

.profile-img{
    height: 250px;
    width: 250px;
    margin: 10px;
}

.profile-img img{
    border-radius: 50%;
    max-width: 100%;
    max-height: 100%;
    border: 2px double;
}

.name{
    color: $header-color;
    text-shadow: 2px 2px #000000;
    display: flex;
    flex-direction: column;
    line-height: 30%;
}
.name h1{
    font-size: 400%;
}

// h3 {
//     border-bottom: 5px solid black; 
//     width: 25%;
      
// }

.bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.left{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: auto;
    width: 600px;
    margin-left: 25px;
}

.right{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: $bot-right;
}
// finish making the margin for the right side.
// .skills .work-xp {
//     margin-left: 25px;
// }